*{
  padding:0;
  margin:0;
}

body{
    font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
    font-size: 11pt; /* Размер основного шрифта в пунктах  */
    background-color: #f0f0f0; /* Цвет фона веб-страницы */
    color: #0f0e0e;
    text-align: justify;
  }
  img{
    margin-left: 210px;
  }
   a {
    text-decoration: none;
    padding: 30px;
    text-align: justify;
    font-weight: 400;
   }
   table{
     width: 100%;
     margin-left: 10px; /* Отступ слева в пикселах */
     margin-right: 10px;
     vertical-align: bottom;
   }
  nav{
    background-color: #99154a;
  }
  header{
    background-color: #030303;
  }

  h1 {
    color: #a52a2a; /* Цвет заголовка */
    font-size: 24pt; /* Размер шрифта в пунктах */
    font-family: Georgia, Times, serif; /* Семейство шрифтов */
    font-weight: normal; /* Нормальное начертание текста  */
  }
  h2{
    color: #d91a66;
  }
  h3{
    color: #d91a66;
  }
  h5{
    text-align:  center;
  }
  h6{
    color:#9c8f94;
    background-color: #d4c5cb;
  }
  p {
    text-align: justify; /* Выравнивание по ширине */
    margin-left: 10px; /* Отступ слева в пикселах */
    margin-right: 10px; /* Отступ справа в пикселах */
    border-left: 1px; /* Параметры линии слева */
    border-bottom: 1px; /* Параметры линии снизу */
    padding-left: 1px; /* Отступ от линии слева до текста  */
    padding-bottom: 10px; /* Отступ от линии снизу до текста  */
    margin-top: 5%;
  }
  footer{
  background-color: #030303;
  color: #fff5f9;
  }
